@font-face {
    font-family: vazir;
    src: url("../Bootstrap/fonts/Vazir.eot"), url("../Bootstrap/fonts/Vazir.ttf"), url("../Bootstrap/fonts/Vazir.woff"), url("../Bootstrap/fonts/Vazir.woff2");
}

body {
    font-family: vazir;
}