.icoon {
    color: #0d6efd;
    background-color: #ebeafb;
    display: inline-flex;
    padding: 1rem;
    border-radius: 1rem;
}

.card2 {
    background-color: #241178;
    color: white;
}

.bg-section {
    background-color: #241178;
}

.bg-footer {
    background-color: #f8f9fa;
}

.footer-link {
    color: #000;
    text-decoration: none;
}

.footer-link:hover {
    color: #000;
}

.border-footer {
    border-bottom: 3px solid;
    height: 40px;
}